extends layout

block content
  body
    section.intro
      // Header Content
      div.container
        div.row
          div#content.col-lg-12
            h1 Policy Findr
            h3#discription Search Policy By County, Year, Name, Keyword
      // Search Bar
      div.container
        div.row
          div.col-md-12
            form#policySearchForm(method="get", action="/api/policies")
              div#adv-search.input-group
                input#bar.form-control(type="search",placeholder="Search Article", name="articleName")
                div.input-group-btn
                  div.btn-group(role="group")
                    div#advanceSearchOptions.dropdown.dropdown-lg
                      button#advanceSearchButton.btn.btn-default.dropdown-toggle(type="button", aria-expanded="false") Advanced
                        span.caret
                      div.dropdown-menu.dropdown-menu-right(role="menu")
                        div.form-horizontal
                          div.form-group
                            label(for="yearRangeSelection") Year Range:
                            input#yearRangeSelection(type="text", name="articleDate", data-slider-min="1950", data-slider-max="2050", data-slider-value="[1950,2050]", data-slider-step="1")
                          div.form-group
                            label(for="countySelection") Select County:
                            select#countySelection.form-control.col-sm-10(name="county" , multiple, data-live-search="true")
                          div.form-group
                            label(for="keywordsSelection") Keywords
                            select#keywordsSelection.form-control(name="searchKeywords", multiple, data-live-search="true")
                    button#searchPolicyButton.btn.btn-primary(type="submit")
                      span.glyphicon.glyphicon-search(aria-hidden="true")
      // Add Policy Button
      div.container
        div.row
          div#addbutt.col-lg-12
            button#openPolicyModal.btn.btn-info.btn-lg(type="button")
              i.fas.fa-chevron-circle-right
              |  Or Click To Add a Policy
      // Modal for add Policy
      div#myModal.modal.fade(role="dialog")
        div.modal-dialog
          // Modal content
          div.modal-content
            form#policyCreationForm(method="post", action="/api/policies")
              div.modal-header
                button.close(type="button", data-dismiss="modal") &times;
                h4.modal-title Policy Form
              div.modal-body
                div.form-group
                  label(for="county") County
                  select#county.form-control(name="county", data-live-search="true")
                div.form-group
                  label(for="articleDate") Year
                  input#articleDate.form-control(type="text", name="articleDate", placeholder="Policy Year")
                div.form-group
                  label(for="articleName") Policy Title
                  input#articleName.form-control(type="text", name="articleName", placeholder="Policy Title")
                div.form-group
                  label(for="searchKeywords") Keywords
                  select#searchKeywords.form-control(name="searchKeywords", multiple, data-role="tagsinput", placeholder="Hit enter to add tags")
                div.form-group
                  label(for="documentLink") Web Link
                  input#documentLink.form-control(type="url", name="documentLink", placeholder="Policy Web Link")
                div.form-group
                  label(for="articleSummary") Summary
                  textarea#articleSummary.form-control(type="text", style="resize:none" , rows="5", name="articleSummary", placeholder="Policy Summary")
                input#articleId(type="hidden", value="", name="_id")
              div.modal-footer
                input#policyCreateOrUpdateButton.btn.btn-primary(type="submit", value="Add")
                input.btn.btn-default(type="button", value="Cancel", data-dismiss="modal")
      // Modal for add Policy
      div#myRemoveModal.modal.fade(role="dialog")
        div.modal-dialog
          // Modal content
          div.modal-content
            div.modal-header
              button.close(type="button", data-dismiss="modal") &times;
              h4.modal-title Remove Policy
            div#policyRemoveContent.modal-body
            div.modal-footer
              input#policyConfirmDeleteButton.btn.btn-danger(type="button", value="Delete")
              input.btn.btn-default(type="button", value="Cancel", data-dismiss="modal")
    section#resultSection
      div#resultContainer.container