doctype
html
  head
    //base(href="/")
    //link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    //link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    //link(rel="stylesheet", href="/vendor/toastr/toastr.scss")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:400,600,700")
    link(rel="stylesheet", href="/stylesheets/bootstrap-datepicker.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-slider.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-select.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-tagsinput.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    include scripts
    title Policy Finder
  block content
