//script(type="text/javascript", src="/vendor/angular/angular.js")
//script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
//script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
//script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="http://code.jquery.com/jquery-3.3.1.js")
script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(type="text/javascript", src="/javascripts/notify.js")
script(type="text/javascript", src="/javascripts/bootstrap-datepicker.js")
script(type="text/javascript", src="/javascripts/bootstrap-slider.js")
script(type="text/javascript", src="/javascripts/bootstrap-select.js")
script(type="text/javascript", src="/javascripts/typeahead.bundle.js")
script(type="text/javascript", src="/javascripts/bootstrap-tagsinput.js")
script(type="text/javascript", src="/javascripts/index.js")