body {
  font-family: 'Raleway';
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#discription {
  color: black;
}
.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url(https://images.unsplash.com/photo-1492546643178-96d64f3fd824?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8c8b0ca61fa643ce14689caf7a5bd84d&auto=format&fit=crop&w=1351&q=80) no-repeat 50% 50%;
  background-size: cover;
}
#content {
  text-align: center;
  padding-top: 20%;
  padding-bottom: 1%;
}
h1 {
  font-weight: 600;
  font-size: 60px;
}
#button {
  text-align: center;
  padding-top: 25%;
}
a.list-group-item {
  height:auto;
  min-height:220px;
}
a.list-group-item.active small {
  color:#fff;
}
.stars {
  margin:20px auto 1px;
}
#hrs {
  width: 150%;
}
#result {
  text-align: center;
  padding-bottom: 40px;
}
#addbutt {
  margin-top: 1%;
  text-align: center;
}
#dropdownMenu1 {
  width: 568px;
}


.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px;
}
.input-group-btn .btn-group {
  display: flex !important;
}
.btn-group .btn {
  height: 34px;
  border-radius: 0;
  margin-left: -1px;
}
.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
  #adv-search {
    width: 750px;
    margin: 0 auto;
  }
  .dropdown.dropdown-lg {
    position: static !important;
  }
  .dropdown.dropdown-lg .dropdown-menu {
    min-width: 500px;
  }
}

.margin-bottom {
  margin-bottom:15px;}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  clear: both;
  display: block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
