doctype
html
    head
        //link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.scss")
        link(rel="stylesheet", href="/css/site.css")
        include scripts
    body
        block main-content
